
@{
    ViewBag.Title = "AssessmentStatus";
    Layout = "~/Views/Shared/candidateLayout.cshtml";
}

<h2>AssessmentStatus</h2>


<br>
<br>
<br>
<br>
<div class="bg-info justify-content-center">
    @TempData["assess"]
</div>